# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
venv/
env/

# Poetry
poetry.lock.bak

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Logs and coverage
*.log
coverage/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/
.pytest_cache/
*.cover
*.py,cover
.hypothesis/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.DS_Store

